{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block content %}

    {% if user.is_authenticated %}
        <div class="popup">
            <div class="container">
            <div class="close" id="close">+</div>
                <form method="POST" class="add_friend_form">
                {% csrf_token %}
                    <p>{{ error }}</p>
                    <label for="friend_username">{% trans 'Find Friends' %}</label>
                    <input class="input" type="text" placeholder="Username" name="friend_username" required>
                    <button type="submit">{% trans 'Add Friend' %}</button>

                </form>
            <div>
                <ul>
                {% for users in suggested_friends %}
                        <li>
                            <div class="user_list_entry"><img class="user_img" src="{{ users.profile_img.url }}" alt="user_profile_img" width="20">
                            <p class="user_username">{{ users.username }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        <div class="left_side_container">
            <div class="profile_header">
                <h2 class="account_titles">Hello, {{ user.username }}!</h2>
                <img class="profile_img" src="{{ user.profile_img.url }}" alt="profile image">
            </div>
            <div class="profile_info">
                <ul class="profile_list"></ul>
                    <li class="profile_item">{{ user.first_name }} {{ user.last_name }}</li>
                    <li class="profile_item">{{ user.email }}</li>
                    <li class="profile_item">{{ user.date_joined }}</li>
                <li class="profile_item"><a href="{% url 'edit' %}"><button class="account-button" id="{{ user.username}}">Edit Profile</button></a></li>
                </ul>
            </div>
        </div>
        <div class="friends">
            <div class="friends_header">
                 <h2 class="account_titles" id="friends_title">{% trans 'Friends' %}</h2>
                <div class="buttons">
                    <button class="btn-acc" id="popup_btn" value="add_friend">{% trans 'Add' %}</button>
                    <button class="btn-acc" id="search_friend">{% trans 'Search' %}</button>
                </div>
            </div>
            <div class="friends_list">
                <ul>
                    {% for friend in friends %}
                        <li>
                            <div class="user_list_entry">
                                <img class="friend_img" src="{{ friend.profile_img.url }}" alt="friend_profile_img" width="50px" height="50px">
                                <p class="friend_username" id="friend_username">{{ friend.username }}</p>
                                <button class="message_btn" id="message_btn">{% trans 'Message' %}</button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}
    {% block extrascripts %}<script src="{% static '/js/script.js' %}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}

