{% extends 'home.html' %}
{% load static %}
{%  block content %}

    <div class="chat_list">
        <h2>Chats</h2>
        <ul>
        {% for chat in chats %}
        <li>
            <a href="{% url 'chat' chat.id %}">{{ chat.name }}>
            {% for user in users %}
                <img src="{{ user.profile_img }}">
            {% endfor %}
            </a>
        </li>
        {% empty %}
        <li>You are not in any chat groups.</li>
        {% endfor %}
        </ul>
    </div>



{% endblock %}