{% extends 'home.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block content %}
<style>
body {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: max-content;
    grid-gap: 30px;
    margin: 0;
    background-color: #c1c8e4;
}

.popup .container {
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.container {
  border: 2px solid #007cc7;
  background-color:  #12232E;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
</style>
</head>

    <div class="popup">
        <div class="container">
            <div class="close" id="close">+</div>
                <form method="POST" class="creat_chat_form">
                {% csrf_token %}
                    {% for field in create_chat_form %}
                    <p class="p_form">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                <small style="color:  grey;">{{ field.help_text }}</small>
            {% endif %}
            {%  for error in field.errors %}
                <p style="color: red;"> {{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
            <button type="submit" class="btn">{%  trans 'Create Chat' %}</button>
                </form>
            </div>
        </div>
    </div>


    <div class="chat_container">
    <h2>{{chat_details.name}}</h2>

    <div id="display">
    </div>

        <style>

        </style>

    <div class="chat">
        <form id="post-form">
            {% csrf_token %}
            <input type="hidden" name="username" id="username" value="{{username}}"/>
            <input type="hidden" name="chat_id" id="chat_id" value="{{chat_details.id}}"/>
            <input type="hidden" name="message" id="message" width="100px" />
            <input type="hidden" value="Send">
        </form>
        </div>
    </div>
    </div>
    <div class="left_side_container">
    <div class="friends_header">
                 <h2 class="account_titles" id="friends_title">{% trans 'Chats' %}</h2>
                <div class="buttons">
                    <button class="btn-chat" id="popup_btn" value="create_chat">{% trans 'Create Chat' %}</button>
                </div>
    </div>
    <div class="chat_list">
    {% for chat in chats %}
        <div class="chat_list_entry">
            <a class="chat_list_links" href="{% url 'chat' chat.id %}">{{ chat.name }}</a>
        </div>
    {% endfor %}
    </div>
    </div>

        {% block extrascripts %}<script src="{% static '/js/script.js' %}" type="text/javascript"></script>
    {% endblock %}
    {% endblock %}