{%  load static %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Rephrase</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/rephrase.css' %}">
</head>
<body>
    <header class="header">
        <nav>
            <ul class="nav_tabs">
                <li><a class="hd-link" href="{% url 'home' %}" class="link">{% trans 'Home' %}</a></li>
                <li><a class="hd-link" href="https://github.com/JesseFentress/rephraseAPP" class="link" target="_blank">GitHub</a></li>
                {% if user.is_authenticated %}
                    <li><a class="hd-link" href="{% url 'chat-list' %}" class="link">{% trans 'Chat' %}</a></li>
                    <li><a class="hd-link" href="{% url 'account' %}"> {% trans 'My Account' %}</a></li>
                    <li><a class="hd-link" href="{% url 'logout' %}">{% trans 'Log Out' %}</a></li>
                {% else %}
                    <li><a class="hd-link" href="{% url 'login' %}">{% trans 'Log In' %}</a></li>
                    <li><a class="hd-link" href="{% url 'sign-up' %}">{% trans 'Sign Up' %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    <div class="brand">
        <h1>Rephrase</h1>
        <h3>{% trans 'Inter-language Communication Made Easy' %}</h3>
    </div>

</body>
{% endblock %}
</html>