{% extends 'home.html' %}
{% load static %}
{%  block content %}

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="login">
    <div class="container">
    <h2>Login</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {% for field in log_form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small style="color:  grey;">{{ field.help_text }}</small>
            {% endif %}
            {%  for error in field.errors %}
                <p style="color: red;"> {{ error }}</p>
            {% endfor %}
            {% if log_form.non_field_errors %}
                <p style="color: red;">
                {{ log_form.non_field_errors }}
                </p>
            {% endif %}
        </p>
        {% endfor %}
            <button type="submit" class="btn">Login</button>
    </form>
    </div>
    </div>
{% endblock %}