{% extends 'home.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <h2>Sign up</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        {% for field in form %}
        <p class="p_form">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small style="color:  grey;">{{ field.help_text }}</small>
            {% endif %}
            {%  for error in field.errors %}
                <p style="color: red;"> {{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
            <button type="submit" class="btn">Sign Up</button>
    </form>
    </div>
{% endblock %}